<div id="user-message">
  <%= flash[:answer_check_response] %>
</div>
<%= content_tag "div", id: "sentences", data: {sentences: @sentences} do%><% end %>
<% if @first_sentence %>
  <h3>Translate to Czech:</h3>
  <p id='question'><%=@first_sentence.display%></p>
  <%= render partial: 'partials/answer_form', locals: { sentence: @first_sentence } %>
<% else %>
  <p>There are no words.</p>
<% end %>
